<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IMAP</title>
    <link rel="stylesheet" href="../static/styles/style_imap.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

</head>

<body>
    <section>
        <!--Bắt Đầu Phần Hình Ảnh-->
        <div class="img-bg">
            <img src="https://www.hcmut.edu.vn/upload/en/images/1(11).jpg"
                alt="hcmut">
        </div>
        <!--Kết Thúc Phần Hình Ảnh-->
        <!--Bắt Đầu Phần Nội Dung-->
        <div class="noi-dung">
            <div class="form">
                <h2>Duyệt thư với IMAP</h2>
                <form action="" method="post">
                    <div class="input-form">
                        <h3>Người gửi</h3>
                        <br>
                        <p>
                            {{header.From}}
                        </p>
                    </div>

                    <div class="input-form">
                        <h3>Người nhận</h3>
                        <br>
                        <p>
                            {{header.To}}
                        </p>
                    </div>

                    <div class="input-form">
                        <h3>Chủ đề</h3>
                        <br>
                        <p>
                            {{header.Subject}}
                        </p>
                    </div>

                    <div class="input-form">
                        <h3>Nội dung</h3>
                        <br>
                        <p>
                            {{body}}
                        </p>
                    </div>
                    <div class="input-form">
                        <input type="submit" name ="submit_button" value="Trang chủ">
                        <input type="submit" name ="submit_button" value="Trước đó">
                        <input type="submit" name ="submit_button" value="Xem tiếp">
                        <input type="submit" name ="submit_button" value="Xóa thư">
                    </div>

                </form>
            </div>
        </div>
        <!--Kết Thúc Phần Nội Dung-->
    </section>
</body>

</html>
